<%- include("partials/header.ejs")  %>
<div class="container px-4 py-3" id="custom-cards">
  <h2 class="text-white">Edit post</h2>
    <% if (locals.data) { %>
      <form action="/edit-post" method="post">
        <p class="text-white"><strong><%= data.title %></strong></p>
        <input type="text" name="newTitle" placeholder="New title">
        <p class="text-white"><%= data.description %></p>
        <input type="text" name="newDescription" placeholder="New description">
        <p class="text-white"><%= data.content %></p>
        <input type="text" name="newContent" placeholder="New content">
        <input type="hidden" value="<%= id %>" name="oldPostID">
        <input type="submit" value="Edit">
      </form>
    <% } %>
</div>

<%- include("partials/footer.ejs")  %>
