<%- include("partials/header.ejs") %>

<div class="container px-4 py-3" id="custom-cards">
  <h2 class="text-white">Blog Posts</h2>
  <div class="col row-cols-1 align-items-stretch pb-3">

  <% if (locals.data && locals.data.length >= 1) { %>
    <% data.forEach((post, index) => { %>
      <div class="row my-4">
        <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg" style="background-color: rgba(0, 0, 0, 0.5);">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="mb-4 display-6 lh-1 fw-bold"><%= post.title %></h3>
            <p><%= post.description %></p>
            <ul class="d-flex list-unstyled mt-auto" style="justify-content: flex-end;">
              <li class="d-flex align-items-center me-3">
                <form action="/posts/show" method="GET">
                  <input type="hidden" value="<%= index %>" name="oldPostID">
                  <input type="submit" value="Read More..." class="edit-button">
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <% }); %>
    <% } %>
    <br><br>
    <div class="border-top">
      <form action="/" method="POST" class="pt-5">
        <textarea type="text" name="title" placeholder="Post title" class="form-input input-control"></textarea>>
        <textarea type="text" name="description" placeholder="Post description" class="form-input input-control"></textarea>>
        <textarea type="text" name="content" placeholder="Post content" class="form-content input-control"></textarea>>
        <input type="submit" value="Publish" class="edit-button" style="justify-content: flex-end;">
      </form>
    </div>
  </div>



<%- include("partials/footer.ejs") %>
